<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Jw2476</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/logo.ico">
</head>

<body>
  <a href="/"><img id="logo" src="/logo.svg" width=51 height=51 /></a>
  <section class="section">
    <div class="header">
      <a href="/"><button>About</button></a>
      <a href="/projects"><button>Projects</button></a>
      <a href="/blog"><button>Blog</button></a>
    </div>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
