{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Jack - Jw2476
</h1>
<p>Hiya, I'm Jack. I program stuff usually, and when I'm not doing that I'm nerding out about maths and physics with friends. I'm currently working on some low-level projects in Rust, such as my game <a href="https://github.com/jw2476/aetheria">aetheria</a> or my cargo-inspired C package manager <a href="https://github.com/jw2476/teapot">teapot</a>. I'm currently researching the n body problem and some programming language design, hopefully I'll remember to write some blog posts... Anyways, here's my <a href="https://github.com/jw2476">GitHub</a>, <a href="/projects">projects</a> and <a href="/blog">blog posts</a>.</p>
{% endblock content %}
